In [1]:
# Import libraries
import sqlite3
import pandas as pd

### Read in the data from SQL view

In [2]:
conn = sqlite3.connect("../data/telco_churn.db")

df = pd.read_sql_query(
    "SELECT * FROM vw_churn_training_dataset",
    conn
)

conn.close()

df.head()

,customer_id,gender,senior_citizen,partner,dependents,country,state,contract_type,paperless_billing,payment_method,...,device_protection,tech_support,streaming_tv,streaming_movies,tenure_months,monthly_charges,total_charges,cltv,churn_target,snapshot_date
0,3668-QPYBK,Male,0,No,No,United States,California,Month-to-month,Yes,Mailed check,...,No,No,No,No,2,53.85,108.15,3239.0,1,2026-01-28
1,9237-HQITU,Female,0,No,Yes,United States,California,Month-to-month,Yes,Electronic check,...,No,No,No,No,2,70.70,151.65,2701.0,1,2026-01-28
2,9305-CDSKC,Female,0,No,Yes,United States,California,Month-to-month,Yes,Electronic check,...,Yes,No,Yes,Yes,8,99.65,820.50,5372.0,1,2026-01-28
3,7892-POOKP,Female,0,Yes,Yes,United States,California,Month-to-month,Yes,Electronic check,...,Yes,Yes,Yes,Yes,28,104.80,3046.05,5003.0,1,2026-01-28
4,0280-XJGEX,Male,0,No,Yes,United States,California,Month-to-month,Yes,Bank transfer (automatic),...,Yes,No,Yes,Yes,49,103.70,5036.30,5340.0,1,2026-01-28

##### Sanity Checks

In [4]:
df.shape

(7043, 25)

In [5]:
df["churn_target"].value_counts(normalize=True)

churn_target
0    0.73463
1    0.26537
Name: proportion, dtype: float64

In [6]:
df.isna().sum().sort_values(ascending=False).head(10)

total_charges        11
gender                0
senior_citizen        0
partner               0
dependents            0
country               0
state                 0
contract_type         0
customer_id           0
paperless_billing     0
dtype: int64